<div class="green page-content">
  <h3><%= link_to "Home", root_path, class: "green" %></h3>
  <h3><%= link_to "Add a new task", new_task_path, class: "green" %></h3>

  <br/>

  <div class="incomplete">
    <%= render partial: "stage", locals: { title: "Incomplete", tasks: @incomplete_tasks } %>
  </div>

  <br/>

  <div class="in_progress">
    <%= render partial: "stage", locals: { title: "In progress", tasks: @in_progress_tasks } %>
  </div>  

  <br/>

  <div class="done">
    <%= render partial: "stage", locals: { title: "Done", tasks: @completed_tasks } %>
  </div>  
</div>

<br/><br/><br/>
