<div class="green page-content">
  <h3><%= link_to "Home", root_path, class: "green" %></h3>
  <h3><%= link_to "Add a new task", new_task_path, class: "green" %></h3>

  <br/>

  <div class="appointments">
    <% if @tasks_with_appointments.empty? %>
      No upcoming appointments
    <% else %>
      Upcoming Appointments
      <table>
        <tr>
          <th class="table-element">Title</th>
          <th>Date</th>
          <th>Time</th>
        </tr>
        <% @tasks_with_appointments.each do |task_with_appointment| %>
          <tr>
            <td class="table-element"><%= link_to task_with_appointment.title, task_path(task_with_appointment), class: "green" %></td>
            <td class="table-element"><%= task_with_appointment.date %></td>
            <td class="table-element"><%= task_with_appointment.time %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>

  <br/>

  <div class="incomplete">
    <%= render partial: "stage", locals: { title: "Incomplete", tasks: @incomplete_tasks } %>
  </div>

  <br/>

  <div class="in_progress">
    <%= render partial: "stage", locals: { title: "In progress", tasks: @in_progress_tasks } %>
  </div>  

  <br/>

  <div class="done">
    <%= render partial: "stage", locals: { title: "Done", tasks: @completed_tasks } %>
  </div>  
</div>

<br/><br/><br/>
