<div class="green page-content">
  <h3><%= link_to "Home", root_path, class: "green" %></h3>
  <h3><%= link_to "Add a new task", new_task_path, class: "green" %></h3>

  <br/>

  <%= render partial: "stage", locals: { title: "Incomplete", tasks: @incomplete_tasks } %>

  <br/>

  <%= render partial: "stage", locals: { title: "In progress", tasks: @in_progress_tasks } %>

  <br/>

  <%= render partial: "stage", locals: { title: "Done", tasks: @completed_tasks } %>
</div>
