<div class="container green">
  <div class="box col-8">
    <h2 class="text-center"><%= title %></h2>
    <br/>
    <h3><%= f.input :company_name %></h3>
    <br/>
    <h3><%= f.input :job_title %></h3>
    <br/>
    <h4><%= f.input :tech_job, as: :boolean %></h4>
    <h4><%= f.input :remote, as: :boolean %></h4>
    <br/>
    <div class="application-notes-input text-center">
      <%= f.rich_text_area :content %>
    </div>
    <br/>
    <div class="text-center">
      <%= f.submit "#{button_label}", class: "btn btn-success" %>
    </div>
  </div>
</div>
