<div class="container green">
  <div class="box text-center col-8">
    <h2 class="green">Edit Job Info</h2>
    <br/>
    <%= simple_form_for @application, url: application_path(@application) do |f| %>
      <h3><%= f.input :company_name %></h3>
      <br/>
      <h3><%= f.input :job_title %></h3>
      <br/>
      <h4 class="green"><%= f.input :tech_job, as: :boolean %></h4>
      <h4 class="green"><%= f.input :remote, as: :boolean %></h4>
      <br/>
      <%= f.submit 'Update', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
