<div class="container">
  <div class="box text-center col-8">
    <% if current_user %>
      <h3><%= link_to "Add a new application", new_application_path, class: "green" %></h3>
      <br/>
      <h3><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "green" %></h3>
    <% else %>
      <h3><%= link_to "Log in", new_user_session_path, class: "green" %></h3>
      <br/>
      <h3><%= link_to "Sign up", new_user_registration_path, class: "green" %></h3>
    <% end %>
  </div>
</div>

<br/><br/>

<% if current_user %>
  <div class="text-center green">
    <%= form_tag(root_path, method: "get") do %>
      <h3>Search for an application</h3>
      <%= text_field_tag(:keyword, nil, placeholder: 'company name') %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>

  <br/>

  <% @applications.each do |application| %>
    <h3 class="text-center">
      <%= link_to "#{application.job_title} at #{application.company_name}", application_path(application), class: "green" %>
    </h3>
    <br/>
  <% end %>
<% end %>
