<div class="application-content green">
  <h2>
    <%= @application.company_name %>
    <br/>
    <%= @application.job_title %>
  </h2>
  <% if @application.tech_job %>
    <h3 class="green">This is a tech job</h3>
  <% end %>
  <% if @application.remote %>
    <h3 class="green">This job is remote</h3>
  <% end %>
  <br/>
  <h3>
    <%= link_to "Edit", edit_application_path(@application), class: "green" %>
    <br/>
    <%= link_to "Delete", application_path(@application), method: :delete, data: { confirm: "Are you sure?" }, class: "green" %>
    <br/>
    <%= link_to "Back to home", root_path, class: "green" %>
  </h3>
</div>
